{% extends 'service/base.html' %}

{% block content %}

<section class="py-5 text-center container">
    <h1 class="fw-light">Сообщения</h1>
</section>


<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col-12 mb-5">
            {% if not is_managers %}
            <a class="btn btn-outline-primary" href="{% url 'service:messagecreate' %}">Добавить сообщение</a>
            {% endif %}
        </div>
        {% for object in object_list %}
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center button">
                        <p class="card-text"> {{object|title}}</p>
                    </div>
                    <div class="btn-group">
                        {% if perms.service.change_message and not is_managers %}
                        <a href="{% url 'service:messageupdate' object.pk %}" type="button"
                            class="btn btn-sm btn-outline-secondary">update</a>
                        {% endif %}
                        {% if perms.service.delete_message and not is_managers %}
                        <a href="{% url 'service:messagedelete' object.pk %}" type="button"
                            class="btn btn-sm btn-outline-secondary">Delete</a>
                        {% endif %}
                        {% if is_managers %}
                            {% if object.is_active%}
                        <a href="{% url 'service:block' object.pk %}" type="button"
                            class="btn btn-sm btn-outline-secondary">LOCK</a>
                            {% else %}
                        <a href="{% url 'service:block' object.pk %}" type="button"
                            class="btn btn-sm btn-outline-secondary">UNLOCK</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}